@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 16 69% 98%;
    --foreground: 16 73% 0%;
    --muted: 16 36% 91%;
    --muted-foreground: 16 13% 34%;
    --popover: 16 69% 98%;
    --popover-foreground: 16 73% 0%;
    --card: 16 69% 98%;
    --card-foreground: 16 73% 0%;
    --border: 16 12% 93%;
    --input: 16 12% 93%;
    --primary: 16 32% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 16 9% 92%;
    --secondary-foreground: 16 9% 32%;
    --accent: 16 9% 92%;
    --accent-foreground: 16 9% 32%;
    --destructive: 0 97% 22%;
    --destructive-foreground: 0 97% 82%;
    --ring: 16 32% 41%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 16 52% 3%;
    --foreground: 16 30% 98%;
    --muted: 16 36% 9%;
    --muted-foreground: 16 13% 66%;
    --popover: 16 52% 3%;
    --popover-foreground: 16 30% 98%;
    --card: 16 52% 3%;
    --card-foreground: 16 30% 98%;
    --border: 16 12% 15%;
    --input: 16 12% 15%;
    --primary: 16 32% 41%;
    --primary-foreground: 0 0% 100%;
    --secondary: 16 15% 12%;
    --secondary-foreground: 16 15% 72%;
    --accent: 16 15% 12%;
    --accent-foreground: 16 15% 72%;
    --destructive: 0 97% 46%;
    --destructive-foreground: 0 0% 100%;
    --ring: 16 32% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* For IE and Edge */
  html {
    overflow: -ms-autohiding-scrollbar;
  }
}
